/* Mobile responsive mode*/
@media screen and (min-width: 320px) and (max-width: 750px) {
  /*heading logo*/
  .header {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 12px;
    margin-bottom: 10px;
    background-color: yellow;
  }
  .header .header__logo {
    height: 35px;
    width: 80%;
    border: 2px solid green;
  }
  /*form search field*/
  .location {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    background-color: lightgrey;
    border-top: 2px solid grey;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .location .__formset {
    width: 60%;
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
  }
  .location .__formset .input-icons {
    font-size: 14px;
    width: 20%;
    border-width: thin;
    position: relative;
    top: 2%;
    padding-left: 5%;
  }
  .fas {
    background-color: lightgray;
    font-size: 18px;
    width: 100%;
    padding: 12px;
    border-width: thin;
    border-color: #D3D3D3;
  }
  .input-field {
    width: 80%;
    height: auto;
    border-width: thin;
    border-style: none;
    outline: none;
    border-color: lightgrey;
    padding-left: 2%;
    padding-top: 3%;
    background-color: lightgrey;
  }
  .input-field::-moz-placeholder {
    color: black;
    opacity: 0.7;
    background-color: lightgrey;
    font-family: roboto;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
  }
  .input-field::placeholder {
    color: black;
    opacity: 0.7;
    background-color: lightgrey;
    font-family: roboto;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
  }
  /* booking text block */
  .book-block {
    width: 100%;
    margin-top: -15px;
    padding-top: 4%;
    padding-bottom: 15%;
    background-color: #f2f2f2;
    /*button*/
  }
  .book-block .__para1 {
    font-family: roboto;
    font-weight: 900;
    font-size: 25px;
    width: 100%;
    padding-left: 17%;
    margin-bottom: 12%;
  }
  .book-block .__para2 {
    width: 100%;
    font-family: roboto;
    font-size: 19px;
    color: grey;
    justify-content: center;
    padding-left: 7%;
    margin-bottom: -20px;
  }
  .book-block .__para2one {
    width: 100%;
    font-family: roboto;
    font-size: 19px;
    color: grey;
    justify-content: center;
    padding-left: 35%;
    margin-bottom: 10%;
  }
  .book-block a.__btn {
    display: flex;
    width: 60%;
    height: 50px;
    border-width: thin;
    border: 1px solid lightgray;
    background-image: linear-gradient(to top, #9356dc, #FF79DA);
    border-radius: 50px;
    padding-left: 6%;
    padding-right: 4%;
    padding-top: 3%;
    text-decoration: none;
    font-family: roboto;
    font-weight: 400;
    font-size: 18px;
    color: white;
    margin-left: 20%;
    margin-right: 20%;
  }
  .book-block a.__btn:focus {
    opacity: 0.8;
    box-shadow: 5px 5px 5px #99e2d0;
  }
  /* how it works block */
  .how .__how1 {
    font-family: roboto;
    font-weight: 900;
    font-size: 25px;
    margin-left: 10%;
  }
  .how .__how2 .__filters {
    width: 80%;
    height: 70px;
    border-radius: 30px;
    border: 2px solid #f2f2f2;
    background-color: #f2f2f2;
    display: flex;
    gap: 8%;
    text-decoration: none;
    padding-top: 14%;
    margin-left: 10%;
    margin-bottom: 20px;
  }
  .how .__how2 .__h2 {
    margin-left: -5%;
  }
  .how .__how2 .__filternames {
    font-family: roboto;
    font-weight: 500;
    font-size: 14px;
    color: black;
  }
  .how .__how2 .fa-1 {
    position: relative;
    left: 50%;
    bottom: 7%;
    color: white;
    font-size: 12px;
  }
  .how .__how2 .fa-2 {
    position: relative;
    left: 50%;
    bottom: 7%;
    color: white;
    font-size: 12px;
  }
  .how .__how2 .fa-3 {
    position: relative;
    left: 50%;
    bottom: 7%;
    color: white;
    font-size: 12px;
  }
  .how .__how2 .fa-circle {
    color: #9356DC;
    font-size: 24px;
    margin-left: -8%;
  }
  .how .__how2 .fa-mobile-phone {
    font-size: 16px;
    color: red;
    text-decoration: none;
  }
  .how .__how2 .fa-bars {
    color: gray;
  }
  .how .__how2 .fa-store {
    font-size: 16px;
    color: gray;
  }
}/*# sourceMappingURL=styles.css.map */